.toolbar-icon-system-admin-media::before {
  background-image: url(../images/icons/787878/grid.svg);
}

.toolbar-icon-system-admin-media:active:before,
.toolbar-icon-system-admin-media.is-active:before {
  background-image: url(../images/icons/000000/grid.svg);
}
